
{% extends 'index.html' %}
{% block content %}
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
         Register
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="/restaurant_register/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <div>
                <input type="text" class="form-control" placeholder="Your Name" name="name" required>
              </div>
              <div>
                <input type="number" class="form-control" placeholder="Your Contact Number" name="phn" required>
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Your Email" name="email">
              </div>
              <div>
                <input type="text" name="adrs" class="form-control" placeholder="Your Address" >
              </div>
              <div>
                <div>
                    <input type="text" name="licence_number" class="form-control" placeholder="Your License Number" >
                  </div>
                  <div>
                    <select id="plc" class="form-control" name="plc">
                        <option value="select" >Select District</option>
                        <option value="Trivandrum">Trivandrum</option>
                        <option value="Kollam">Kollam</option>
                        <option value="Pathanamthitta">Pathanamthitta</option>
                        <option value="Alappuzha">Alappuzha</option>
                        <option value="Kottayam">Kottayam</option>
                        <option value="Idukki">Idukki</option>
                        <option value="Ernakulam">Ernakulam</option>
                        <option value="Thrissur">Thrissur</option>
                        <option value="Palakkad">Palakkad</option>
                        <option value="Malappuram">Malappuram</option>
                        <option value="Kozhikode">Kozhikode</option>
                        <option value="Wayanad">Wayanad</option>
                        <option value="Kannur">Kannur</option>
                        <option value="Kasaragod">Kasaragod</option>
                    </select>
                </div>
                
              <div>
                <input type="password" name="pswd" class="form-control" placeholder="Your Password" >
              </div>
              <div>
                <input type="file" name="img" class="form-control" placeholder="Your Image" >
              </div>
              <div class="btn_box" type="submit">
                <button>
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="map_container">
              <img src="/static/images/o1.jpg" alt="Your Image Alt Text">
            </div>
          </div> -->
      </div>
    </div>
  </section>
  {% endblock %}