{% extends 'user/user_home.html' %}
{% block content %}
<section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        {% if error %}
        <h2>
          {{error}}
        </h2>
        {% else %}
        <h2>
            Menu
          </h2>
          {% endif %}
      </div>

      <!-- <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        <li data-filter=".burger">Burger</li>
        <li data-filter=".pizza">Pizza</li>
        <li data-filter=".pasta">Pasta</li>
        <li data-filter=".fries">Fries</li>
      </ul> -->

      {% for i in data %}
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid animated pulse infinite" src="{{i.img.url}}">
            </div>
            <div class="col-lg-6 p-0">
                <div class="container p-0">
                    <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                        <h1 class="text-primary mb-5"><span class="fw-light text-dark"></span></h1></div>
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                            
                            <div class="wow fadeIn" data-wow-delay="0.3s">
                             
                                    {% csrf_token %}
                                    <div class="row g-3">
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <!-- <label for="subject">Food Category :</label> -->
                                                <input type="mail" class="form-control" id="subject" placeholder="Your Name" name="name" value="{{i.foodcategory}}" disabled>
                                                
                                            </div>
                                        </div><br></br>
                                       
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <label for="subject"> </label>
                                                <input type="mail" class="form-control" id="subject" placeholder="Your Email" name="email" value="$ {{i.price}}" disabled>
                                              
                                            </div>
                                        </div>
        
                                       
                                        
                                        </div>
                                      <br>

                                      <div class="cart-add">
                                        <form action="/add_to_cart/" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="ii" value="{{i.id}}">
                                        <input type="number" name="number" value="1" id="number" style="height: 40px; width: 60px; border: 2px solid rgb(222, 148, 20); line-height: 50px; text-align: center;">&nbsp;&nbsp;&nbsp;


                                      <!--  <button type="submit" class="btn btn-6">Buy Now</button> -->
                                      <a onclick="this.href='/add_to_cart/?id={{i.id}}&number=' + document.getElementById('number').value">
                                        <button type="button" class="btn btn-6" style="border: 2px solid #fef8f8; border-radius: 0%; background-color: rgb(222, 148, 20); height: 60px; width: 150px; color: white;">
                                            <!-- <i class="fas fa-shopping-cart"></i> -->ADD
                                        </button>
                                        
                                    </a>
                                   
                                    
                                    
                                        </form>
            
                                    
                                        
          
                                    </div>





                                    
                                 
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>

>
        </div>
    </div>
    {% endfor %}
</div>

      
     
      
    </div>
  </section>
  {% endblock %}