{% extends 'user/user_home.html' %}
{% block content %}
<section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        {% if msg %}
        <h2>
        {{msg}}
        </h2>
        {% else %}
        <h2>
            Search Here...
            </h2>
            {% endif %}
      </div>

<div class="call_text_main">
    <div class="container">
       <div class="call_taital">
          <div class="call_text"><a href="#"><i class="" aria-hidden="true"></i><span class="padding_left_15"></span></a></div> 
           <div class="call_text"><form action="/user_search_restaurants/"  method="post" class="d-flex" role="search">
             {% csrf_token %}
             <input class="form-control me-2" name="plc"  type="search" placeholder="Pick a Region " aria-label="Search">
             <button class="btn btn-outline-success" type="submit">Search</button>
             <!-- &nbsp;&nbsp;<h9 style="color: rgb(243, 235, 235);">{{msg}}</h9> -->
           </form>

            
          </div>
       </div>
    </div>
 </div> 
 </div>
 </section>
 {% endblock %}