{% extends 'admin/admin_home.html' %}
{% block content %}
<section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>Customer Details</h2>
      </div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="text-primary mb-5"><span class="fw-light text-dark"></span></h1>
        </div>
        <div class="row g-25">
            <div class="col-lg-30 wow fadeIn" data-wow-delay="0.1s">
                <div class="wow fadeIn" data-wow-delay="0.3s">
                    <form action="" method="post">
                        {% csrf_token %}
                        <table class="table" border="1" style="color: black;">
                            <thead>
                                <tr>
                                    <th>Sl.No.</th>
                                    <th>Name       </th>
                                    <th>email      </th>
                                    <th>Address   </th>
                                    <th>Contact Number</th>
                                     <th>Place</th>
                                     <th>Gender</th>
                                     <th>DoB</th>
                        
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in data %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{x.name}}</td>
                                    <td>{{x.email}}</td>
                                    <td>{{x.adrs}}</td>
                                    <td>{{x.phn}}</td>
                                    <td>{{x.plc}}</td>
                                    <td>{{x.gender}}  </td>
                                    <td>{{x.dob}}  </td>
                                  
                                  
                                    
                                </tr>
                                {% empty %}
                                    <tr>
                                    <td colspan="5">Not Found.</td>
                                    </tr>
                                    {% endfor %}
                        </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<style>
    .table {
        width: 150%;
        border-collapse: collapse;
        margin-bottom: 30px;
        background-color: #e4d965; /* Set your desired background color here */
    }

    .table th, .table td {
        border: 1px solid #75736c;
        padding: 9px;
        text-align: left;
    }

    .table th {
        background-color: rgb(227, 185, 17);
    }


    
</style>
{% endblock %}